<!DOCTYPE html>
<!-- TODO maps geoloc avec leaflet -->

    <head>
        <meta charset="utf-8">
        <title>API météo</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/css.css">
    </head>
    <body>
        <main id="main" v-bind:style="{ backgroundImage: 'url(' + imageFond + ')' }" >
        <div id="divVille">
            <!-- villes disponibles:  http://www.prevision-meteo.ch/services/json/list-cities -->
                <h1>
                <label for="api">Ville: </label>
                <select v-model="selected" name="api" id="api">
                    <option disabled value="">Choisissez</option>
                    <option value="nantes">Nantes</option>
                    <option value="paris">Paris</option>
                    <option value="marseille" >Marseille</option>
                    <option value="lyon" >Lyon</option>
                    <option value="toulouse" >Toulouse</option>
                    <option value="nice" >Nice</option>
                    <option value="montpellier" >Montpellier</option>
                    <option value="strasbourg" >Strasbourg</option>
                    <option value="bordeaux" >Bordeaux</option>
                    <option value="lille" >Lille</option>
                </select>
                </h1>
            </div>

            <!-- affiche la météo de la ville appelée -->
            <!-- tableau moche => TODO: tableau version Vue.js-->
            <div id="divMeteo" v-if="display">
                <h2 id="villeMeteo">
                    {{ villeMeteo }} <br>
                    <img v-bind:src= iconeConditionBig alt = "icone ciel">
                </h2>
                <p id="gps"> {{ gps }}</p>
                <div id="tableMeteo">
                    Date: {{ donneesMeteo.date}} <br>
                    Heure: {{ donneesMeteo.hour}} <br>
                    Température: {{ donneesMeteo.tmp}} °C<br>
                    vitesse du vent: {{ donneesMeteo.wnd_spd}} Km/h<br>
                    Rafales: {{ donneesMeteo.wnd_gust}} Km/h<br>
                    Direction du vent: {{ donneesMeteo.wnd_dir}} <br>
                    Pression atmosphérique: {{ donneesMeteo.pressure}} hPa <br>
                    Humidité: {{ donneesMeteo.humidity}} % <br>
                    Actuellement: {{ donneesMeteo.condition }} 
                    <img v-bind:src= iconeCondition alt = "icone ciel"> <br>
                </div>
            </div>

            <!-- spin-loader d'attente -->
            <div id="loader" v-if="!display"></div>

    </main>

<!-- ************************************************************* -->
<!----------------------------- SCRIPTS ----------------------------->
<!-- ************************************************************* -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.5/vue.min.js"></script>

<script>
var meteoApi = new Vue({
    el: "#main",
    
    data: {
        selected: "nantes", //ville par défaut au démarrage
        donneesMeteo: {},
        display: false,
        imageFond: "",
        iconeCondition: "",
        iconeConditionBig: "",
    },

    mounted: function () {
		    this.meteo() // avec ville par défaut au démarrage = "nantes"
		  },

    watch: {
        selected: function (val) {
        this.meteo()
        }
    },

    methods: {

        meteo:function() {

        let req = "https://www.prevision-meteo.ch/services/json/" + this.selected;
        let self = this;
        let xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                let data = JSON.parse(this.responseText);
                //console.log(data);
                //console.log(data.current_condition);
                villeMeteo = "METEO DE " + data.city_info.name.toUpperCase();
                gps = "(latitude: " + data.city_info.latitude 
                    + " - longitude: " + data.city_info.longitude + ")";

                self.donneesMeteo = data.current_condition;
                // affichage des icones selon condition météo
                self.iconeConditionBig = data.current_condition.icon_big;
                self.iconeCondition = data.current_condition.icon;
                // affichage de l'image de fond dans le main selon condition météo
                self.imageFond = selectBackgroundImage (data.current_condition.condition);
                self.display = true;
            }
        };
        xhttp.open("GET", req, true);
        xhttp.send();
        }


        // pourquoi l'appel à cette fonction ne marche pas ? => je la sors en js natif en dessous
        // //selection de l'image de fond selon les conditions météo
        // selectBackgroundImage: function(condition) {
        //     console.log(condition);
        //     alert ("ok2");
        // }
    }
});
        //selection de l'image de fond dans le main selon les conditions météo
        function selectBackgroundImage (condition) {
            //console.log(condition);
            //condition = "Ensoleillé";
            //condition = "Fortement nuageux";
            //alert("ok");
            //return 'images/sun.jpg';

            switch (condition) {
                case "Ensoleillé":
                case "Faiblement nuageux":
                return 'images/sun.jpg';
                break;

                case "Eclaircies":
                return 'images/eclaircie.jpg';
                break;

                case "Fortement nuageux":
                return 'images/cumulus.jpg';
                break;

                case 'Faiblement orageux':
                return 'images/storm-clouds.jpg';
                break;

                default:
                return 'images/water1280.jpg';
            }
        }

</script>


</body>
</html>