<!DOCTYPE html>
<!-- TODO maps geoloc avec leaflet -->

    <head>
        <meta charset="utf-8">
        <title>API météo</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/css.css">
    </head>
    <body>
        <main id="main" v-bind:style="{ backgroundImage: 'url(' + imageFond + ')' }" >
        <div id="divVille">
            <!-- villes disponibles:  http://www.prevision-meteo.ch/services/json/list-cities -->
                <h1>
                <label for="api">Ville: </label>
                <select v-model="selected" name="api" id="api">
                    <option v-for="ville in tabloVille" :value="ville">{{ ville }}</option>
                </select>
                </h1>
            </div>

            <!-- affiche la météo de la ville appelée -->
            <div id="divMeteo" v-if="display">
                <h2 id="villeMeteo">
                    {{ villeMeteo }} <br>
                    <img v-bind:src= iconeConditionBig alt = "icone ciel">
                </h2>
                <p id="gps"> {{ gps }}</p>
                <table id="tableMeteo">
                    <tr><td>Date: </td><td>{{ donneesMeteo.date}}</td></tr>
                    <tr><td>Heure:</td><td>{{ donneesMeteo.hour}}</td></tr>
                    <tr><td>Température:</td><td>{{ donneesMeteo.tmp}} °C</td></tr>
                    <tr><td>Vitesse du vent:</td><td>{{ donneesMeteo.wnd_spd}} Km/h</td></tr>
                    <tr><td>Rafales:</td><td>{{ donneesMeteo.wnd_gust}} Km/h</td></tr>
                    <tr><td>Direction du vent:</td><td>{{ donneesMeteo.wnd_dir}}</td></tr>
                    <tr><td>Pression atmosphérique:</td><td>{{ donneesMeteo.pressure}} hPa</td></tr>
                    <tr><td>Humidité:</td><td>{{ donneesMeteo.humidity}} %</td></tr>
                    <tr><td>Actuellement:</td><td>{{ donneesMeteo.condition}}</td></tr>
                </table>
            </div>

            <!-- spin-loader d'attente -->
            <div id="loader" v-if="!display"></div>

    </main>

<!-- ************************************************************* -->
<!----------------------------- SCRIPTS ----------------------------->
<!-- ************************************************************* -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.5/vue.min.js"></script>

<script>
var meteoApi = new Vue({
    el: "#main",
    
    data: {
        tabloVille: ["Nantes", "Paris", "Marseille", "Lyon", "Toulouse",
                     "Nice", "Montpellier", "Strasbourg", "Bordeaux", "Lille"],
        selected: "Nantes", //ville par défaut au démarrage
        donneesMeteo: {},
        display: false,
        imageFond: "",
        iconeConditionBig: "",
    },

    mounted: function () {
		    this.meteo() // avec ville par défaut au démarrage = "Nantes"
		  },

    watch: {
        selected: function (val) { // val: inutilisé
        this.meteo()
        }
    },

    methods: {

        meteo:function() {

        let req = "https://www.prevision-meteo.ch/services/json/" + this.selected;
        let self = this;
        let xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                let data = JSON.parse(this.responseText);
                villeMeteo = "METEO DE " + data.city_info.name.toUpperCase();
                gps = "(latitude: " + data.city_info.latitude 
                    + " - longitude: " + data.city_info.longitude + ")";

                self.donneesMeteo = data.current_condition;
                // affichage des icones selon condition météo
                self.iconeConditionBig = data.current_condition.icon_big;
                // affichage de l'image de fond dans le main selon condition météo
                self.imageFond = selectBackgroundImage (data.current_condition.condition);
                self.display = true;
            }
        };
        //TODO: gestion erreurs
        xhttp.open("GET", req, true);
        xhttp.send();
        }


        // pourquoi l'appel à cette fonction ne marche pas ? => je la sors en js natif en dessous
        // //selection de l'image de fond selon les conditions météo
        // selectBackgroundImage: function(condition) {
        //     console.log(condition);
        //     alert ("ok2");
        // }
    }
});
        //selection de l'image de fond dans le main selon les conditions météo
        function selectBackgroundImage (condition) {

            switch (condition) {
                case "Ensoleillé":
                case "Faiblement nuageux":
                    return 'images/sun.jpg';
                    break;

                case "Eclaircies":
                    return 'images/eclaircie.jpg';
                    break;

                case "Fortement nuageux":
                    return 'images/cumulus.jpg';
                    break;

                case 'Faiblement orageux':
                    return 'images/storm-clouds.jpg';
                    break;

                case 'Averses de pluie faible':
                case 'Pluie faible':
                    return 'images/rain1920.jpg';
                    break;

                case 'Ciel voilé':
                    return 'images/cielVoile1920.jpg';
                    break;

                default:
                    return 'images/water1280.jpg';
            }
        }

</script>


</body>
</html>